.navbar {
    background-color:#2C2C54 !important;
  }

.menu a {
    text-decoration: none !important;
    color:black
  }
  .menu .brand {
    color:#FCF7F8
  }

  .webby {
    max-width: 12vh;
  }

  .searched-user a {
    text-decoration: none;
    color:black
  }