/* .NavBarCustom {
    background-color: #64b6ac !important;
  } */
  
  .NavBarCustom .nav-logo {
    max-height: 3rem;
  }
  
  .navbar {
    background-color: #2c2c54 !important;
  }

.menu a {
    text-decoration: none !important;
    color:black
  }