.homepage {
    justify-content: center;
    text-align: center !important;
    /* font-family: 'Lato', sans-serif; */
 
}

.homepage h1 {
    font-size:medium;
}
.homepage small {
    opacity: 50%;
}
