
.graph{
    background-color: #fcf7f8;
}

.graph-wrapper{
    display: flex;
    background-color: #fcf7f8;
    justify-content: center
}

/* This is the CSS file from the commit right before we began making light/dark modes for the graph */
