.userInteractionsMenu {
    width: 300px;
    height: auto;
    background-color: #fcf7f8;
    color: #951a4d
}

.userInteractionsMenu h3{
    width: 300px;
    height: auto;
    background-color: #951a4d;
    color: #fcf7f8;
}

/* #951a4d jazzberry jam
#2c2c54 space cadet
#028090 metallic seaweed
#a799b7 glossy grape
#fcf7f8 snow */